body {
  color: #000000;
}

h1{
  color: #000000;
  font-family: 'Josefin Sans';
}


td, th{
  width: 33.33%;
  text-align: center;
}
div{
  text-align: center;
}

select {
  border-color: beige;
  font-family: Arial;
}

option:hover {
  border-color: beige;
  background-color: #ddd;
}

option:selected {
  border-color: beige;
  background-color: #3498db;
  color: white;
}
input{
  border-color: beige;
}
#details_table{
  width: 52%;
  background-color: #E05A47;
  color: white;
  font: 20px 'Josefin Sans', sans-serif;
  padding: 20px;
  margin: 20px;
}

#details_table_1{
  border: 1px solid grey;
  color: #282826;
  width: 52%;
  font-weight: bold;
  font-family: 'Josefin Sans';
    padding: 0px;
  margin: 20px;
    
}


#expense-form {
  
  background-color: #CEAA44;
  color: #282826;
  font-weight: 900;
  font: 18px 'Josefin Sans', sans-serif;
  padding: 15px;
  margin: 20px;
  
}
#expense-table{
  width: 100%;
}

button {
  background-color: #2B6747;
  color: #fff;
  border: none;
  padding: 10px;
  
}

button:hover {
  background-color: #143e28;
  cursor: pointer;
}

#chart_div{
  margin : 50px;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 500px;
        height: 60%;
        
}

#myChart{
  margin: 40px;
}

