body{
    padding: 60px;
    font-family: 'Josefin Sans';
  }

button{
    border-radius: 5px;
    border: 0px;
    background-color: white;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

button:hover{
    background-color: beige;
}

img {
    width:80%;
    height:80%;
}
table{
    margin: auto;
}

table {
    border-radius: 5px;
    border: 0px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

td{
    font-size: 18px;
    color: #289E64;
    height: 50px;
    width: 50px;
    padding: 10px;
}

#user_score, #comp_score, #user, #comp {
    text-align: right;
    color: #EA4335;
    
}

#winner, #score, #gameCount {
    text-align: center;
    font-size: 22px;
    color: #4285F4;
    
}

#title{
    
    color: #FABD14;
    text-align: center;
    font-size: 25px;
    
}